.btn {
    border: none;
    padding: 0.25rem 0.5rem;
    color: #444;
    border: 2px solid #555;
    border-radius: 10%;
    font-weight: bolder;

    &:hover {
        background-color: rgb(240, 8, 54);
        color: #ccc;
        cursor: pointer;
    }
}

.btn-2 {
    @extend .btn;
    border-radius: 30%;
}